name: CI

on:
  push:
    branches: [main, adnane]
  pull_request:
    branches: [main, adnane]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
          pip install flake8

      - name: Lint with flake8
        run: |
          # 1. Arrêter le build SEULEMENT s'il y a des erreurs de syntaxe graves
          flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
          # 2. Avertir pour le style mais NE PAS bloquer le build (--exit-zero est la clé)
          flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics

      - name: Test
        run: |
          if [ -f test.py ]; then python test.py; fi
